<mat-toolbar class="max-w-8xl mx-auto border-x justify-between">
    <a routerLink="home">
        Code with Sloba store
    </a>
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon
           [matBadge]="1"
           matBadgeColor="warn">
           shopping_cart
        </mat-icon> 
    </button>
    <mat-menu #menu="matMenu">
       <div class="p-3 divide-y divide-solid">
          <div class="pb-3 flex justify-between">
            <span class="mr-16">1 Items</span>
            <a routerLink="cart">View Cart</a>
          </div>
          <div class="py-3">
              <div class="flex justify-between font-light mb-2">
                Keyboard x 1
                <span class="font-bold">{{'150' | currency}}</span>
              </div>
              <div class="flex justify-between font-light mb-2">
                Keyboard x 1
                <span class="font-bold">{{'150' | currency}}</span>
              </div>
              <div class="flex justify-between font-light mb-2">
                Keyboard x 1
                <span class="font-bold">{{'150' | currency}}</span>
              </div>
          </div>

          <div class="flex justify-between font-light py-3">
            Total:
            <span class="font-bold">{{'450' | currency}}</span>
          </div>

          <div class="flex justify-between pt-3">
               <button class="bg-red-600 text-white rounded-full w-9 h-9">
                    <mat-icon>
                        remove_shopping_cart
                    </mat-icon> 
               </button>
               <button
               routerLink="cart"
               class="bg-green-600 text-white rounded-full w-9 h-9">
                    <mat-icon>
                        remove_shopping_cart
                    </mat-icon> 
               </button>
          </div>

       </div>
    </mat-menu>
</mat-toolbar>