<mat-drawer-container
  [autosize]="true"
  class="min-h-full max-w-7xl mx-auto border-x"
>
    <mat-drawer mode="side" opened>
         <app-filter (showCategory)="onShowCategory($event)">Filters</app-filter>
    </mat-drawer>
    <mat-drawer-content class="p-6">
      <app-products-header (columnsCountChange)="onColumnsCountChange($event)"></app-products-header>
      <!-- {{cols}} /***{{category}} -->
      <mat-grid-list
        gutterSize="16"
        [cols]="cols"
        [rowHeight]="rowHeight"
        >

          <mat-grid-tile *ngFor="let product of products">
            <app-product-box 
                (addToCart)="onAddToCart($event)"
                class="w-full" 
                [fullWidthMode]="cols === 1">
            </app-product-box>
          </mat-grid-tile>
 
      </mat-grid-list>
    </mat-drawer-content>
</mat-drawer-container>

